<div>
    <h3>Cel</h3>
    <p>Zaprojektowanie i implementacja w Angular aplikacji front-end komunikującej się z API 
        <a href="http://www.recipepuppy.com/about/api/">http://www.recipepuppy.com/about/api/</a> 
        Należy utworzyć stronę, która będzie miała w formie listy 20 przykładowych składników kulinarnych (nazwy angielskie).
        Po wybraniu jednej z nich użytkownik powinien mieć przycisk Sprawdź przepisy. Jego wybranie powinno skutkować
        odpytaniem API i zwróceniem listy przepisów dostępnych z wykorzystaniem wybranego składnika lub wybranych
        składników (grupowo). Lista powinna zaprezentować miniaturkę przepisu a także tytuł dania do stworzenia.
    </p>
    <h3>Wymagania</h3>
    <h4>Interfejs użytkownika</h4>
    <p>Aplikacja Angular/HTML/CSS umożliwiająca podgląd pobranych danych z webService. Aplikacja powinna być responsywna
        w oparciu o Bootstrap lub flexbox.<br>
        Aplikacja powinna w sposób czytelny i estetyczny prezentować informację o przepisach pobranych z API.<br>
        Aplikacja powinna odpowiednio zawijać się w trybie mobilnym.
    </p>
    <h3>Zadanie 2</h3>
    <p>Z lokalnego serwera API wczytać przykładowy dokument JSON, w którym będzie można w jakimś określonym formacie
        wpisać nazwę kolumny (nagłówek) oraz typ danych i jej wartość. Następnie aplikacja powinna wczytać zawartość tego
        komunikatu API i odrysować na stronie tabelkę odpowiadającą strukturze z tego pliku z formatowaniem danych.
        Jako formaty przyjmujemy dla uproszczenia typ liczba i tekst.</p>
    <h3>Język programowania</h3>
    <h4>Angular, HTML 5, Bootstrap</h4>
</div>